* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: league;
  src: url(Font/LeagueSpartan-VariableFont_wght.ttf);
}

body {
  font-family: league;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: hsl(222, 26%, 31%);
  padding: 0;
}

main {
  width: 22rem;
}

.navSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
  h1 {
    width: 30%;
    font-size: 2.5rem;
  }
}

.themeSwitchDiv {
  padding: 0.6rem 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme {
  font-size: 0.7rem;
  position: relative;
  bottom: -0.65rem;
  right: -2.5rem;
}

.themeSwitchCircleSection {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.themeSwitchCircleId {
  width: 5.5rem;
  display: flex;
  margin-bottom: 0.2rem;
  p {
    display: flex;
    justify-content: right;
    width: 35%;
  }
}

.orangeCircleBackground {
  display: flex;
  align-items: center;
  height: 1.2rem;
  width: 3.5rem;
  border-radius: 2rem;
  padding: 0.1rem 0.3rem;
  background-color: hsl(223, 31%, 20%);
}

.orangeCircle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: hsl(6, 63%, 50%);
}

.display {
  width: 100%;
  height: 6rem;
  background-color: hsl(223, 30%, 16%);
  border-radius: 0.6rem;
  margin: 1.5rem 0;
}

.buttonSectionContainer {
  width: 100%;
  background-color: hsl(223, 31%, 20%);
  border-radius: 0.6rem;
  border: none;
}

.buttonSection {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: repeat(4, 4rem);
  grid-gap: 0.8rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.buttonBlue {
  font-family: league;
  box-shadow: 0px -4px 0px 0px hsl(224, 28%, 35%) inset;
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 100%);
  width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
}

.buttonSubmit {
  font-family: league;
  font-size: 1.5rem;
  font-weight: 700;
  width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0px -4px 0px 0px hsl(6, 70%, 34%) inset;
  background-color: hsl(6, 63%, 50%);
  color: hsl(0, 0%, 100%);
}

.button {
  width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  border: none;
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0px -4px 0px 0px hsl(28, 16%, 65%) inset;
  font-size: 2rem;
  font-family: league;
  font-weight: 700;
}

.buttonSectionBottom {
  width: 18.5rem;
  display: flex;
  justify-content: space-between;
  button {
    width: 8.8rem;
    height: 4rem;
    border: none;
  }
}

@media screen and (min-width: 1024px) {
  main {
    width: 30rem;
  }

  .display {
    height: 8rem;
  }

  .buttonSection {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: repeat(4, 4rem);
    grid-gap: 0.8rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
  }

  .themeSwitchDiv{
    width: 35%;
  }

  .button{
    width: 5.5rem;
    height: 3.5rem;
    position: relative;
    right: -0.5rem;
  }

  .buttonBlue{
    width: 5.5rem;
    height: 3.5rem;
    margin-left: 0.5rem;
  }

  .buttonSectionBottom{
    width: 26.5rem;
    button{
      width: 12.5rem;
      height: 4rem;
    }
  }

}
